In [25]:
import mysql.connector
from mysql.connector import errorcode

In [26]:
mydb=mysql.connector.connect(
    host="itsdb.mysql.database.azure.com",
    user="itsAdmin@itsdb",
    password="Saleh@itsdb",
    database="test"
)

cursor=mydb.cursor()

In [34]:

cursor.execute("DROP TABLE test1")
print(cursor)

cursor.execute("CREATE TABLE test1(name VARCHAR(255), address VARCHAR(255))")
print(cursor)

MySQLCursor: DROP TABLE test1
MySQLCursor: CREATE TABLE test1(name VARCHAR(255), ad..

In [36]:
cursor.execute("INSERT INTO test1 (name, address) VALUES(%s, %s)",("Saleh","Riyadh"))
print(cursor)

MySQLCursor: INSERT INTO test1 (name, address) VALUES..

In [37]:
cursor.execute("SELECT * FORM test1")
result=cursor.fetd
print()

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FORM test1' at line 1